<footer class="footer">
  
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>

      <li>
        <% link_to '/' do %>
          Home
        <% end %>
      </li>

      <li>
        <% link_to 'contact' do %>
          Contact
        <% end %>
      </li>
    </ul>
    
    <ul>
      <li><h3>Social</h3></li>
      <li>
        <% link_to 'https://www.facebook.com/pages/TAQUERIA-BAHIA/319799277989', target:'blank' do %>
         <i class="icon-facebook icon"></i> Facebook
        <% end %>
     </li>

      <li>
        <% link_to 'https://plus.google.com/103434374119507120030/about?gl=us&hl=en', target:'blank' do %>
          <i class="icon-google_plus icon"></i> Google+
        <% end %>
      </li>

      <li>
       <% link_to 'http://www.yelp.com/biz/taqueria-bahia-san-rafael' do %>
          <i class="icon-star_empty icon"></i> Yelp
          <% end %>
      </li>
    </ul>

    <ul>
      <li><h3>Call</h3></li>
      <li><a href="tel:4154560191">(415) 456-0191</a></li> 
    </ul>
  </div>


  <hr>

  <p>1013 B St San Rafael, CA 94901 .</p>
</footer>