<nav class="site-nav" role="navigation">
	<h1>Taqueria <span style="color:white">Bahia</span></h1>
	

  <div class="nav-links">
	<% link_to '/' do %>
	  <i class="icon-home	"></i> Home
	<% end %>
	<% link_to 'about' do %>
		About
	<% end %>
	<% link_to 'menu' do %>
		Menu
	<% end %>
	<% link_to 'contact' do %>
		Contact
	<% end %>
	<div class="mobile-menu"><i class="icon icon-reorder"></i></div>
  </div>
</nav>
