// -------------------------------------------------------------------
// Containers
// -------------------------------------------------------------------

$container                 : $max-width;
$container-mobile_only     : max-width $max-width - $one-pixel;
$container-narrow          : 60em; // 960px
$container-super-narrow    : 45em; // 720px

// -------------------------------------------------------------------

@mixin container {
  @include outer-container;
  margin-top:0;
  padding-left: $base_line_height;
  padding-right: $base_line_height;

  @include media($container+$base_line_height*2) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Thinner containers, in case design calls for it

@mixin container--text {
  @extend .container;
  padding-left: 7.5%;
  padding-right: 7.5%;

  @include media($max-width) {
    padding-left: $base_line_height;
    padding-right: $base_line_height;
  }
}

@mixin container--narrow {
  @extend .container;
  max-width: $container-narrow;
}
@mixin container--super-narrow {
  @extend .container;
  max-width: $container-super-narrow;
}

// Class versions

.container { @include container; }
.container--text { @include container--text; }
.container--narrow { @include container--narrow; }
.container--super-narrow { @include container--super-narrow; }

.padded {
  padding-top:2em;
  padding-bottom:2em;
}


// -------------------------------------------------------------------
// Full Bleed
//
// Let the container span edge-to-edge.
// -------------------------------------------------------------------

@mixin fullbleed($gutter: 3em) {
  max-width: none;
  width: -webkit-calc(100% + #{$gutter});
  width: calc(100% + #{$gutter});
  margin-left: -($gutter/2)!important;
}

.fullbleed {
  @include media($container-mobile_only) {
    @include fullbleed;
  }
}
