// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
body {
	background-color: desaturate(darken($white-smoke, 0), 30);
}

.site-header {
	@include clearfix;
	background-color: $green;
 	border-bottom: solid 1px;
    border-bottom-color: $red;
	padding:1em;
}
.site-main{
	background-color: #fff;
}

.fadein {

	margin-bottom: 0px;
	width: 100%;

	@include media($medium-screen) {
		position:relative;
		height:420px;
		overflow: hidden;
	}

	img {
		width: 100%;
		height: auto;
		display: none;
		@include media($medium-screen) {
			position:absolute; left:0; top:0; 
		}
	}
}




// ------------------------------------------------------------
//hero-shot
// ------------------------------------------------------------
#hero-overflow {

	margin-bottom: 0px;
	width: 100%;
	position:relative;
	overflow: hidden;
	height:200px;

	@include media($medium-screen) {
		height:420px;
	}

	div{
		width: 100%;
		height: 100%;
	 	background-size: cover;
	 	background-repeat: no-repeat;
	 	background-position: center center;
		display:none;
		position:absolute; left:0; top:0; 
	}

	// move images to index page to find the path
}


.site-nav {
	@include clearfix;

	h1 {
		color: $yellow;
		text-align: center;
		margin-top: 0px;
		font-size: 2.2em;
		@include media($medium-screen) {
			text-align: left;
			float: left;
		}

		
	}

	.navbar-brand {
		display: block;

		i {
			font-size:3em;
			margin-right:1em;
			display: block;
		}
		@include media($medium-screen) {
			float: left;
		}
	}

	.site-logo {
		display: none;
		@include media($medium-screen) {
		display: block;
		margin: auto;
		margin-bottom: 20px;

	}
	}
	.mobile-logo {
		display: block;
		margin: auto;
		margin-top: -20px;
		max-height: 100px;
		padding-top:5px;
		
		@include media($medium-screen) {
			display: none;
		}
	}

	.nav-links {
		height: 0;
		overflow: hidden;
		@include media($medium-screen) {
			height: auto;
			float: right;
			margin-top: 15px;
		}

		a { 
			color: $yellow;
			@include trailing-hovers;
			@include media($medium-screen) {
				display: block;
				float: left;
				line-height: 0;
				height: 0;
				padding: .6em 1.5em;
			}
		}

		.nav-right {
			@include media($medium-screen) {
				float: right;
			}
		}
	}
}

// ------------------------------------------------------------
// index page
// ------------------------------------------------------------
	.side-image {
	  @include outer-container;
	  padding-top: 20px;
	  margin-top: 25px;
	  .images-wrapper { 
	  	display: none;
	  	@include media($medium-screen) {
	  	@include media(700px) {
	  	@include span-columns(4);
	  	img {
	  		margin-top: 14px;
	  		
	  	}
	  	}
	  } 
	  }
	  .content {
	  	h4 {
	    background: $red;
	    color: white;
	    display: inline-block;
	    font-size: .75em;
	    font-weight: 800;
	    margin-bottom: 1.3em;
	    padding: 3px 8px;
	    text-transform: uppercase;
	}
  		@include media($medium-screen) {
	   @include span-columns(8);
	    
	  	p {
	    margin-bottom: 3em;
	}

	h1 {
		font-size: 25px;
	}
}
}
}

	.grid-items {
		display: none;

		@include media($medium-screen) {
	 	@include clearfix;
		max-width: 300px;
		float: left;
		margin-left: auto;
		margin-right: auto;
		margin-right: 60px;
		display: block;
		margin-top: 20px;
		a {
			color: $green;
		}
		a:hover {
		color: $red;
	}
	}
}




// ------------------------------------------------------------
// Buttons
// ------------------------------------------------------------



.btn {
	a {
	color: $yellow;
	}
	@include media($medium-screen) {
		display: none;
	}
	display: block;	
	position: relative;
	border: none;
	background-color: $green;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 5px;
	height: 28px;
	width: 100%;
	padding: 2px 15px;
	line-height: 20px;
	text-align: center;
	font: 18px SerifaBT-Bold;
	z-index: 10;
	margin-bottom: 2px;
}

.btn:hover {
	background: $yellow;
}
.btn:hover a {
	color: $red;
}





// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 1.1em;
	right: 1.1em;
	z-index: 2;

	@include media($medium-screen) {
		display: none;
	}

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
		color: $yellow;
	}
}

// Menu active
.menu-active {

	.nav-links {

		height: auto;
		overflow: auto;

		a {
			display: block;
			padding: .5em;
			text-align:center;
		}
	}
}

// ------------------------------------------------------------
// footer
// ------------------------------------------------------------
.site-footer{}

.footer {
  $footer-color: $red;
  $footer-link-color: transparentize($footer-color, .2);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  padding: $base-line-height*2 $gutter;
  width: 100%;
 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }
  a {
  	color: $red;
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

// ------------------------------------------------------------
// Menu page
// ------------------------------------------------------------
#mobile-image {
	display: block;
}
.menu {
	img {
		display: none;
		@include media($medium-screen) {
			display: block;
		}
	}
}
h2 {
	color: $red;
	font-size: 1.6em;
}
.overflow {
	
	overflow: hidden;

	@include media($medium-screen) {
		height: 400px;
	}

	img {
		width: 100%;
		height: auto;
		@include media($medium-screen) {
			margin-top:-24%;  // positions viewable portion of the image
		}
	}
	// move images to index page to find the path
}



// ------------------------------------------------------------
// Contact Page
// ------------------------------------------------------------
// Enter Neat


section {
	h1 {
		color: $red;
	}
	margin: 20px;
  @include outer-container;
	@include media($medium-screen) {
		aside { @include span-columns(5); }
		article { @include span-columns(7); }
	}
}
