---
title: Taqueria Bahia / about
---
<section class="container padded">
	<aside>
		<%= image_tag 'elena-owner.jpg', class: 'profile-img' %>
	</aside>
	<article>
		<h1>ABOUT</h1>
		<p>
			Taqueria Bahia Brings authentic  cuisine from Mexico  and surrounding states in Mexico  its a slice of Mexico at your reach. It’s an experience that more then twenty five million people considers everyday food in Mexico.
		</p>
		<blockquote>“Your satisfaction my highest priority”</blockquote>
	</article>
</section>

