---
title: Taqueria Bahia | Contact
---
<section class="container padded">
	<aside>
		<%= image_tag 'location-bahia.jpg', class: 'profile-img' %>
	</aside>
	<article>
		<h1>CONTACT</h1>	
		<p>&nbsp;<br>
			Taqueria Bahia is housed in a  building in  San Rafael California.
		</p>
		<p>
			1013 B  Street<br>
			San Rafael, CA 94901‎<br>
			<a href="https://www.google.com/maps/place/Taqueria+Bahia/@37.973635,-122.529526,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x3a6b1e059ca8ee90?hl=en" target="new">view on google map</a>
		</p>
		<p>
			phone &nbsp;<a href="tel:4154560191">415 456-0191</a><br>
		</p>
		<h2>hours</h2>
		<p>
			Monday to Saturday de 11am - 9pm <br />
			Sunday  10am - 9pm.
		</p>
	</article>
</section>						