---
title: Taqueria Bahia
---
<style>
.bg1{ background-image: url("assets/images/carne-asada.jpg"); } 
.bg2{ background-image: url("assets/images/table-dishes.jpg"); }
.bg3{ background-image: url("assets/images/restaurant.jpg"); }
.bg4{ background-image: url("assets/images/tequeria-front.jpg"); }
</style>
<div id="hero-overflow">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="bg4"></div>
</div>



<div class="container">

	<div class="side-image">
		<div class="images-wrapper"><%= image_tag 'cocktail.jpg' %></div>
		<div class="content"><h4>Mexican Food</h4>
			<h1>Taqueria Bahia</h1>
			<p>
				We serve great traditional Mexican food in the heart of San Rafael.
				People talk about breakfast burrito, alambres dinner, fajitas, quesadilla de harina with prawns, chorizo or lengua super burrito and rotisserie chicken dinner plate
			</p>
		</div>
	</div>

	<br clear="all" />

	<div class="grid-items" "grid-item grid-item-big grid-item-image">
		<% link_to 'menu' do %>
			
			<%= image_tag 'menu-drinks.jpg' %>
			<h4>Menu</h4>
			<p>
				Menu for Taqueria Bahia
			</p>
	
		<% end %>
	</div>

	<div class="grid-items" "grid-item grid-item-big grid-item-image">
		<% link_to 'https://www.google.com/maps/place/1013+B+St,+San+Rafael,+CA+94901/@37.9733034,-122.5294886,17z/data=!3m1!4b1!4m2!3m1!1s0x808599fba81219a5:0x7ff027c585cd9cef', target:'blank' do %>
			<%= image_tag 'map.png' %>
			<h4>Direction</h4>
			<p>
				Use Google maps to get Directions
				Click Here
			</p>
		<% end %>
	</div>

	<div class="grid-items" "grid-item grid-item-big grid-item-image">
		<% link_to 'contact' do %>
			<%= image_tag 'bar-tv.jpg' %>
			<h4>Hours</h4>
			<p>
				Monday to Saturday de 11am - 9pm <br />
				Sunday  10am - 9pm
			</p>
		<% end %>
	</div>

	<!-- mobile buttuns -->	
	<div class="btn">
		<% link_to 'menu' do %>
		  Menu
		<% end %>
	</div>
	<div class="btn">
		<% link_to 'https://www.google.com/maps/place/1013+B+St,+San+Rafael,+CA+94901/@37.9733034,-122.5294886,17z/data=!3m1!4b1!4m2!3m1!1s0x808599fba81219a5:0x7ff027c585cd9cef' do %>
		  Direction
		<% end %>
	</div>
	<div class="btn">
		<% link_to 'contact' do %>
		  Hours
		<% end %>
	</div>
</div>
<br />
<br />


