---
title: Taqueria Bahia | Menu
---
<div class="overflow" "menu" "mobile-image">
	<%= image_tag 'taco2.jpg' %>
    <%= image_tag 'mobile-plate.jpg', id:'mobile-image'%>
</div>

<div class="container"> 
    <h1>OUR MENU</h1><br />
    <h2>DINNER PLATES - MEATS</h2><br />
    <em>
        Choice Of Meat, Green Or Spanish Rice, Choice Of Whole, Refried, Or Black Beans And Hot Or Mild Salsa Fresh, Chili And Jalapenos Upon Request Extra Items $0.75, Avocado $0.75 Extra Meat $2.00
    </em>
    <section>
        <aside>
            <p> 
                <strong>Pollo Asada-grilled Chicken $8.30</strong><br />
                <strong>Carne Asada-steak 9.75</strong><br />
                <strong>Pasfar-bbq Pork $8.30</strong><br />
                <strong>Pollo-shredded Chicken $8.30</strong><br />
                <strong>Pollo Colorado 8.30</strong><br />
                <strong>Lengua-beef Tongue $8.90</strong><br />
                <strong>Rotisserie Chicken Dinner Plate  $8.30</strong><br />
                <em>1/4 chicken</em><br />
                <strong>Camarones Al Mojo De Ajo $10.50</strong><br />
                <strong>Camarones A La Plancha $10.95</strong><br />
                <em>Prawns, bell pepper, onions, tomatoes, mixed and grilled with bacon, hot sauce if desired, served in dinner farm with tortillas</em><br />
                <strong>Camarones A La Diabla $10.95</strong><br />
                <em>Prawns, grilled with onions and red sauce - mild or hot if desired, and served in dinner from          with tortillas</em><br />
                <strong>Cocktail De Camaron - Prawn Cocktail $7.85</strong><br />
                <strong>Campechano-tostado Mixed Seafood $4.30</strong><br />
                <strong>Toffu $7.95</strong><br />
                <strong>Tamale Dinner $8.30</strong><br />
                <em>
                    2 chicken tamale, rice, beans, guacamole, lettuce, tomato dressing and tortillas
                </em><br />
                <strong>Chicken Tamale A La Carta $4.50</strong><br /> 
            </p>
        </aside>

        <article>
            <p>
                <strong>Chile Relleno A La Carta $4.99</strong><br />
                <strong>Chile Rellenos Dinner $9.75</strong><br />
                <em>
                    2 chili rellenos, cheese, rice, beans, guacamole, lettuce, tomato dressing and tortilla $8.30
                </em><br />
                <strong>Taco Dinner $8.30</strong><br />
                <em>2 soft tacos, any meat, rice, beans, guacamole, lettuce and tamale dressing $8.30</em><br />
                <strong>Alambres Dinner-better Than Fajitas $9.75</strong><br />
                <em>Chopped beef steak, bell pepper, onions, tomatoes, mixed and grilled with bacon, hot sauce if desired, 
                served in dinner farm with tortillas</em><br />
                <strong> Chorizo-mexican Sausage $8.90</strong><br />
                <strong> Carnitas-deep Fried Pork $8.30</strong><br />
                <strong>Chili Verde-green Chili Pork $8.30</strong><br />
                <em>Mild</em><br />
                <strong>Chorizo Con Huevo-mexican Sausage And Egg $9.15</strong><br />
                <strong>Enchilado Dinner-choice Of Any Meat $8.30</strong><br />
                <em>Two enchiladas, cheese, rice, beans, guacamole, lettuce, tomato and salsa $8.30</em><br />
                <strong>Enchilada A La Carta-choice Of Any Meat $4.99</strong><br />
                <em> One enchilada, lettuce and salsa</em><br />
            </p>
        </article>
    </section>

    <hr />


    <h2>BURRITOS</h2><br />
    <em>
        Choice Of Meat, Green Or Spanish Rice, Choice Of Whole, Refried, Or Black Beans And Hot Or Mild Salsa Fresh, Chili And Jalapenos Upon Request Extra Items $0.75, Avocado $0.75 Extra Meat $2.00
    </em>
    <section>
        <aside>
            <p>
                <strong>Regular Burrito $8.30</strong><br />
                <em>Any meat, rice beans and salsa</em><br />

                <strong>Super Burrito $6.00</strong><br />
                <em>Any meat, rice, beans, sour cream, guacamole, cheese, lettuce and salsa</em><br />

                <strong>Chorizo Or Lengua Burrito $5.75</strong><br />
                <em>meat, rice, beans and salsa</em><br />

                <strong>Chorizo Or Lengua Super Burrito $8.30</strong><br />
                <em>Any meat, rice beans and salsa</em><br />

                <strong>Vegetarian Burrito $5.50</strong><br />
                <em>Rice, beans, sour cream, guacamole, cheese, lettuce and salsa</em><br />

                <strong>Prawn Regular Burrito $7.50</strong><br />
                <em>Prawns, rice, beans and salsa</em><br />
            </p>
        </aside>
        <article>
            <p>
                <strong>Prawn Super Burrito $8.60</strong><br />
                <em>Prawns, rice, beans, sour cream, guacamole, cheese, lettuce and salsa</em><br />

                <strong> Breakfast Burrito $7.95</strong><br />
                <em>Any meat, rice, beans, sour cream, guacamole, salsa with melted cheese and mole sauce on top</em><br />

                <strong>Fajitas Burrito $6.95</strong><br />
                <em>Meat, rice, beans, salsa fresca, bell peppers, onions, tomatoes</em><br />

                <strong> Chimichanga $7.95</strong><br />
                <em>Inside: meat and beans, outside: on a bed of lettuce and sour cream, salsa fresca and guacamole over</em><br />

                <strong>Toffu Burrito super $6.00   reg $4.90</strong><br />
                <em>Rice, beans, salsa fresca, tofu / guacamole, sour cream and lettuce</em><br />  
            </p>
        </article>
    </section>

    <hr />

    <h2>TACOS AND TOSTADAS</h2><br />
    <em>
        Extra Items $0.50 Each, Avocado $0.75, Add $0.50 For Chorizo Or Lengua
    </em>
    <section>
        <aside>
            <p>
                <strong>Taco Salad $7.50</strong><br />
                <em>any meat, sour cream, guacamole, cheese, lettuce, tomato, and salsa choice of beans or request</em><br />

                <strong>Taco $2.50 </strong><br />
                Add $.50<br />
                <em>any meat, onions, cilantro, chili, for chorizo or lengua</em><br />

                <strong>Vegetarian Taco Or Tostada $3.95</strong><br />
                <em>rice, beans, sour cream, guacamole, lettuce and salsa</em><br />

                <strong>Crispy Vegetarian Taco $4.25</strong><br />
                <em>rice, beans, sour cream, guacamole, lettuce and salsa</em><br />

            </p>
        </aside>
        <article>
            <p>
                
                <strong>Super Taco Or Tostada $4.35</strong><br />
                <em>
                any meat, sour cream, guacamole, cheese, lettuce, tomato and salsa choice of whole or refired beans on request
                </em><br />

                <strong>Crispy Super Taco $4.75</strong><br />
                <em>
                any meat, sour cream, guacamole, cheese, lettuce, tomato and salsa, choice of whole or refried beans on request
                </em><br />

                <strong>Tortas (mexican Sandwich) $6.00</strong><br />
                <em>
                any meat, guacamole, sour cream, cheese, lettuce, tomato and salsa, optional jalapenos and chili
                </em><br />  
            </p>
        </article>
    </section>
    <hr />

    <h2>QUESADILLAS</h2><br />
    <em>
        Grilled Til Hot, Chili And Jalapenos Upon Request Extra Items $0.75, Extra Meat $1.95
    </em>
    <section>
        <aside>
            <p>
                <strong>Suiza $5.60</strong><br />
                <em>any meat, with cheese in flour tortilla</em><br />

                <strong>Super Suiza De Harina $6.75 </strong><br />
                <em>flour tortilla with cheese, any meat, guacamole and sour cream</em><br />

                <strong>Quesadilla De Harina With Prawns $7.50</strong><br />
                <em>flour tortilla with cheese and prawns</em><br />

               
            </p>
        </aside>
        <article>
            <p>
                <strong>De Harina $3.50</strong><br />
                <em>a flour tortilla with cheese</em><br />

                <strong>De Maiz $1.75</strong><br />
                <em>
                two corn tortillas with cheese
                </em><br />

                <strong>Quesadilla Suiza De Maiz $4.25</strong><br />
                <em>
                any meat in a corn tortilla
                </em><br />
            </p>
        </article>
    </section>

    <hr />

    <h2>NACHOS</h2><br />
    <em>
        Choice Of Whole Or Refried Beans, Jalapenos If Desired Chili And Jalapenos Upon Request Extra Meat $2.50, Extra Items $0.50 Mini Size
    </em>
    <section>
        <aside>
            <p>
                <strong>Regular Cheese And Salsa $4.65 $3.80</strong><br />
                <strong>Vegetarian $5.95 $4.25 </strong><br />
                <em>cheese, salsa, guacamole and sour cream</em><br />
            </p>
        </aside>
        <article>
            <p>
                <strong>Super Nachos $5.00 $7.95</strong><br />
                <em>any meat, cheese, salsa, guacamole and sour cream</em><br />
            </p>
        </article>
    </section>

    <hr />

    <h2>MENUDO</h2><br />
    <em>
        Fresh And Delicious Served Saturdays And Sundays
    </em>
    <section>
        <aside>
            <p>
               Medium ............... $6.50 
            </p>
        </aside>
        <article>
            <p>
                Large  ............... $8.85
            </p>
        </article>
    </section>
    <hr />

    <h2>SIDE ORDERS</h2><br />
    <em>
        Fresh And Delicious Served Saturdays And Sundays
    </em>
    <section>
        <aside>
            <p>
                <strong>Whole Chicken $16.95</strong><br /> 
                <em>16 oz rice, 16 oz beans, salsa and tortillas</em><br />

                <strong>Whole Chicken $8.95</strong><br /> 
                <em>1/2 chicken, 8 oz rice, 8 oz beans, salsa and tortillas</em><br />

                <strong>Whole Beans</strong><br /> 
                <em>16 Oz --- $2.25</em><br />

                <strong>Refried Beans</strong><br /> 
                <em> --- $3.50</em><br />
                <em> --- $2.95</em><br />

               
            </p>
        </aside>
        <article>
            <p>
                <strong>Rice</strong><br /> 
                <em> --- $2.75</em><br />
                <em> --- $1.95</em><br />

                <strong>Guacamole</strong><br /> 
                <em> 16oz --- $6.20</em><br />
                <em> 12oz --- $4.65</em><br />
                <em> 8oz  --- $3.10</em><br />

                <strong>Salsa</strong><br /> 
                <em> 16oz --- $3.70</em><br />
                <em> 12oz --- $2.90</em><br />
                <em> 8oz  --- $1.95</em><br />

                <strong>Chips</strong><br /> 
                <em> Large --- $4.10</em><br />
                <em> Medium --- $3.10</em><br />
                <em> Small  --- $2.10</em><br />
                <em> E- Small --- $.99    </em><br />
            </p>
        </article>
    </section>
</div>



   


